<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Confirmation</title>
</head>
<body>
<h2>Student Confirmation</h2>

The student is confirmed: <span th:text="${student.firstName}"></span> <span th:text="${student.lastName}"></span>
<br><br>
Student Country:
<span th:text="${student.country}"></span>
<br><br>
Student Favorite Language:
<span th:text="${student.favoriteLanguage}"></span>
<br><br>
Student Operating Systems:
<ul>
    <li th:each="tempStudent : ${student.favoriteSystems}">
        <span th:text="${tempStudent}"></span>
    </li>
</ul>
</body>
</html>